* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    font-weight: Your weight ;
}

.container {
    max-width: Your width;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}